/google_drive_research_folders.py
/libri_margines.xlsx
/test.txt
/libri_zmapowane.xlsx
/libri_zmapowane2.xlsx
/word_embedding_test.txt
/je_tutorial.db
/oclc_pl_test.xlsx
/google_drive_credentials.py
/książki_BN.xlsx
/bn_articles_marc.xlsx
/client_secrets.json
/pythonsheets-credentials.json
/Book_recordTypes_03.xlsx
/debug.log
/geckodriver.log
/wordpress_credentials.py
/oclc_other_lang_count_008.xlsx
/oclc_other_languages.xlsx
/pbl_viaf.xlsx
/bn_books_marc.xlsx
/libri_marc_bn_articles.mrc
/libri_marc_bn_articles.mrk
/libri_marc_bn_books.mrc
/libri_marc_bn_books.mrk
/pbl_retro.mrc
/pbl_retro.mrk
/loc_data.xlsx
/fp_credentials.py
/do ignorowania.txt
__pycache__/
*.py[cod]
/client_secret.json
/token_sheets_v4.pickle
/test.xml
/testa.spydata
/viaf.xml
/cz_names_viaf.csv
/test.mrk
/cz_names_viaf2.xlsx
/cz_names_viaf.xlsx
/cz_names_viaf_sep_dates.csv
/cz_names_viaf_sep_dates.xlsx
/swe.mrk
/swe_data.xlsx
/swe_errors.xlsx
/swe_names.xlsx
/pbl_subject_headings.csv
/language_codes_marc.xlsx
/libri_data.spydata
/pbl_marc_books.xlsx
/pbl_marc_books2.mrc
/pbl_marc_books.mrk
/bn_articles_to_link.xlsx
/BN_books_2013-2019.csv
/bar_trial.xlsx
/bar_catalog.mrc
/bar_catalog.mrk
/bar_catalog.xlsx
/marc_errors.txt
/pol.mrk
/pol_data.xlsx
/pol_errors.xlsx
/pol_names.xlsx
/cz_authorities.xlsx
/cz_data.xlsx
/pbl_marc_articles.mrc
/pbl_marc_articles.xlsx
/bazhum_web_scraping.xlsx
/pol_data_cz_origin.xlsx
/pol_data_no_dates.xlsx
/swe_data_cz_origin.xlsx
/swe_data_no_dates.xlsx
/pol_data_clean.xlsx
/swe_data_clean.xlsx
/bn_articles.xlsx
/bn_magazines_to_statistics.xlsx
/statystyki_czasopism_bn_pbl.xlsx
/bn_magazines.xlsx
/mapowanie_czasopism_PBL_BN.xlsx
/bn_articles.csv
/LoC_national_literatures.xlsx
/fi_data.xlsx
/pbl_marc_articles.mrk
/pbl_marc_books.mrc
/no_cz_original.mrc
/no_cz_original.mrk
/no_cz_original.xlsx
/translation_trajectories_test.xlsx
/translations_total.mrc
/translations_total.mrk
/translations_total.xlsx
/triple_labels_translation.xlsx
/triple_labels_translation_final.xlsx
/triple_labels_translation_all_languages.xlsx
/BN_MAK_synat_passim.xlsx