/do ignorowania.txt
__pycache__/
*.py[cod]
/client_secret.json
/token_sheets_v4.pickle
/test.xml
/testa.spydata
/viaf.xml
/cz_names_viaf.csv
/test.mrk
/cz_names_viaf2.xlsx
/cz_names_viaf.xlsx
/cz_names_viaf_sep_dates.csv
/cz_names_viaf_sep_dates.xlsx
/swe.mrk
/swe_data.xlsx
/swe_errors.xlsx
/swe_names.xlsx
/pbl_subject_headings.csv
/language_codes_marc.xlsx
/libri_data.spydata
/pbl_marc_books.xlsx
/pbl_marc_books2.mrc
/pbl_marc_books.mrk
/BN_books_2013-2019.csv
/bar_trial.xlsx
/bar_catalog.mrc
/bar_catalog.mrk
/bar_catalog.xlsx